<style type="text/css">
  .milestones-compact-stats {float:left;padding:2px;margin-left:2px}
</style>
<div class="milestones-compact-stats" style="width: 150px; border: 1px dashed #aeaeae">
  <ul class="no-list-type">
    <li class="small-text" style="background-color:#306380;"><span class="weak-grey uppercase" style="color:#ffffff"><%= milestone.project.name %></span></li>
    <li class="popping-green"><%= number_to_percentage(milestone.percentage_complete, :precision => 0) %></li>
    <li class="small-text"><span class="weak-grey uppercase">MILESTONE NAME</span></li>
    <li><%= milestone.name %></li>
  </ul>
</div>
