var task_started = $("#<%= @task.id %>"); //find the id of the task selected
task_started.text("DONE");       //Update the link text
var html = task_started.parent().parent().html(); //find the container for the task and extract html

var completed_div = $('.tasks-completed-list');
task_started.parent().parent().remove();  //remove that task

completed_div.prepend("<li>" + html + "</li>"); //add the task to the 'tasks in progress' list
