<div id="details">
  <div class="lime-green-submenu">Overview</div>
  <table id="project-details">
    <tr><td class="data-label">Project Owner: </td><td><%= @project.owner.name %></tr>
    <tr><td class="data-label">Created On: </td><td><%= fmt_month_day_year(@project.created_at) %></td></tr>
    <tr><td class="data-label">Status: </td><td><%= @project.status %></td></tr>
    <tr><td class="data-label">Description: </td><td><%= @project.description %></td></tr>
  </table>
  <div class="clear"></div>
</div>
