<div class="main-quick-links">
  <ul>
    <li class="menu-item-home"><%= link_to "Dashboard", dashboard_path %></li>
    <li class="menu-item-projects"><%= link_to "Milestones Overview", milestones_path %></li>
    <li class="menu-item-people"><%= link_to "People Overview", users_path %></li>
  </ul>
</div>
<div class="clear"></div>
