body{min-width:960px;}.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}
/* main layout */
#top-header {width: 960px;margin-left: auto; margin-right: auto; color: #fff;padding-top: 2px;padding-left: 10px;padding-right: 10px;}

#header-container {background-color:#f0eee7;}
#top-header a {color: #ffffff;}
#top-header  #company-header a{color:black}

/*Dashboard Nav */
.main-quick-links {margin-top: 1px; float: left}
.main-quick-links a {text-decoration:none; color:red; font-size: 13px; font-weight: normal;}
.main-quick-links ul { display: inline; margin: 0px; padding: 0px; float: left;}
.main-quick-links li { background-color:#046780;width: 150px; display:inline; padding: 5px 8px 3px; text-align: center; -moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;}
.main-quick-links .current {background-color: #54848F}

/*
.menu-item-home a {background-position: -10px -10px;width: 65px;}
.menu-item-projects a {background-position: -70px -10px;width: 90px;}
.menu-item-people a {background-position: -150px -10px;width: 75px;}
.menu-item-setup a {background-position: -225px -10px;width: 65px;}

.menu-item-home a:hover {background-position: -10px -50px;width: 65px;}
.menu-item-projects a:hover {background-position: -70px -50px;width: 90px;}
.menu-item-people a:hover {background-position: -150px -50px;width: 75px;}
.menu-item-setup a:hover {background-position: -225px -50px;width: 65px;}*/

#company-header {padding-top: 15px; padding-bottom: 10px;height: 55px;width: 650px;font-size: 40px;}

#body {width: 960px; margin-left: auto; margin-right:auto;}

#nav-container {}

.horizontal-list li {display: block;float: left;padding-left: 15px;}

#content {background-color: #ffffff;padding:10px;}

/* lightbox styles */
#simplemodal-container a.modalCloseImg{background:url(/assets/x.png) no-repeat;width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:-8px;left:-6px;cursor:pointer;}
#simplemodal-overlay{background-color:#000;opacity:0.7 !important;}
#simplemodal-container{background-color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:25px;}
.ie7 #my-account #spinner {top:220px;}
body#iframe {background-image:none;background-color:#fff;}

/* default link styles */
a {color: #166999;text-decoration:none;}

a:visited {color: #3a87a2;}

a:hover {color: #3a87a2;}

/* default table styles */
table {border-collapse: collapse;width: 100%;}

.compact-table th {font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;color: #6D929B;border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;letter-spacing: 2px;text-transform: uppercase;text-align: left;padding: 6px 6px 6px 12px;background: #CAE8EA}

.compact-table tr.even {background-color: #FFFFFF;}
.compact-table tr.odd {background-color: #F5FAFA;}

.compact-table td {padding: 6px 6px 6px 12px}

/*reusable classes */
.hidden {display: none;}
.clear {clear: both;}
.floatL {float:left;}
.floatR {float:right;}
.data-label{}
.eighteen {font-size: 18px}
.ten {font-size: 10px}
.big-header {font-size: 26px;letter-spacing:1px; background-color color: red} 
.strong {font-weight: bold}
.weak {font-weight: normal; color: #989898}

.small-header{font-size: 14px; color:red }
.blue-header{color:#4B4B4B; font-weight:bold; font-size:20px; padding: 5px 0px 0px 5px;border-top:3px solid #C2e0f2; margin-bottom:5px; #background:#ecfaff;}
.green-header{color:#4B4B4B; font-weight:bold; font-size:20px; padding:10px;border-top:3px solid #AECD39; margin-bottom:15px; background:#f0f6e4;}
.lime-green-header{color:#aecd39;font-family:"Myriad Pro";font-size:22px; font-weight: bold}
.lime-green-submenu{color:#aecd39;color: black;font-family:"Myriad Pro";font-size:18px; font-weight: bold}
.grey-header {color: #444; font-size: 22px;}
.cool-blue-header{color:#1F99BA;font-family:"Myriad Pro";font-size:22px; font-weight: bold}
.cool-orange-header{color:#FF9933;font-family:"Myriad Pro";font-size:22px; font-weight: bold}

.popping-green {font-size: 18px; font-weight:bold; font-family:"Times";color:#9db401}
.popping-orange {font-size: 34px; font-weight:bold; font-family:"Times";color:#fdb51b}
.weak-grey {font-size: 12px; font-family:"Times";color:#898a88}
.uppercase {text-transform: uppercase}
.green-link {border-bottom: 1px dashed #9db401}

/* default labels */
label {}

/* default buttons */
/*.active-button input[type="submit"] { */
.action-button {
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #3275bc;
  color: white;
  width: 150px;
  height: 30px;
  font-size: 16px;
}

/*input[type="submit"]:hover {*/
.action-button:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
}

.action-link {
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #3275bc;
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 2px 5px 2px 5px;
}
/* default small buttons */
.small-action-button {
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#709528), to(#A1C655));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #444;
  color: white;
  width: 100px;
  height: 20px;
  font-size: 13px;
}

.small-action-button:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
}

#flash_notice {color:red}
#flash_notice {background:#e6efc2;color:#264409;border-color:#c6d880;}

